<form class="example-form" (ngSubmit)="onClick()" [formGroup]="adduser">
      
    <mat-form-field class="example-full-width">
       <input matInput placeholder="FirstName" formControlName="firstname">
     </mat-form-field>
 
     <mat-form-field class="example-full-width">
       <input matInput placeholder="LastName" formControlName="lastname">
     </mat-form-field>

     <mat-form-field class="example-full-width">
        <input matInput placeholder="Age" formControlName="age">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="MobileNumber" formControlName="phone">
      </mat-form-field>

     <mat-form-field class="example-full-width">
        <input matInput placeholder="Email"  formControlName="email">
      </mat-form-field>

      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="male"> Male </mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date"  formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

     <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>