<div  *ngFor="let user of userDetails">
<mat-list>
    <mat-list-item> <strong>{{user.firstname}}</strong> </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{user.lastname}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{user.email}}</mat-list-item>
  </mat-list>
</div>