<form class="example-form" [formGroup]="login">
   <mat-form-field class="example-full-width">
     <input matInput placeholder="Email"  formControlName="email">
   </mat-form-field>
 
   <mat-form-field class="example-full-width">
      <input matInput placeholder="FirstName" formControlName="firstname">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="LastName" formControlName="lastname">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <a mat-raised-button color="primary" routerLink="{{router}}" (click)="onClick()">Submit</a>
   </form>