<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    <span>Neutrinos-App</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/">HOME</a>
    <a mat-button routerLink="signup">Signup</a>
    <a mat-button routerLink="login">Login</a>
    <a mat-button routerLink="viewdetails">View Details</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>